header img {
    max-width: 50px;
    max-height: 50px;
    object-fit: contain;
}

header .nav-link:hover {
    color: #f8f9fa;
    /* Color blanco suave */
    text-decoration: underline;
}

header {
    background-color: #007bff;
    /* Azul por defecto */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
main {
    flex: 1;
}
footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    bottom: 0;
    width: 100%;
}